In [ ]:
import pandas as pd

In [ ]:
#Task 1

data = pd.read_csv('/content/sample_data/ratings.csv')
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def classification(row):
        if row['rating'] <= 2:
            return 'low'
        if 4 >= row['rating'] > 2:
            return 'average'
        if row['rating'] > 4:
            return 'high'

In [ ]:
data['class'] = data.apply(classification, axis=1)
data.head()

   userId  movieId  rating   timestamp    class
0       1       31     2.5  1260759144  average
1       1     1029     3.0  1260759179  average
2       1     1061     3.0  1260759182  average
3       1     1129     2.0  1260759185      low
4       1     1172     4.0  1260759205  average

In [ ]:
#Task 2

data_reg = pd.read_csv('/content/sample_data/keywords.csv')
data_reg.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [ ]:
def region(row):
    if 'москва' in row['keyword'].lower() or 'тула' in row['keyword'].lower() or 'ярославль' in row['keyword'].lower():
        return 'Центр'
    if 'петербург'in row['keyword'].lower() or 'псков' in row['keyword'].lower() or 'мурманск' in row['keyword'].lower():
        return 'Северо-Запад'
    if 'владивосток' in row['keyword'].lower() or 'сахалин' in row['keyword'].lower() or 'хабаровск' in row['keyword'].lower():
        return 'Дальний Восток'
    return 'undefined'

In [ ]:
data_reg['region'] = data_reg.apply(region, axis=1)
data_reg[data_reg['region'] == 'Центр']

                                                keyword   shows region
127                                        авито москва  979292  Центр
849                                     авито ярославль  209581  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
...                                                 ...     ...    ...
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99590             авито ярославль автомобили с пробегом    3673  Центр
99890                               яндекс метро москва    4548  Центр
99922                                 авто ру ярославль    3712  Центр

[387 rows x 3 columns]

In [ ]:
#Task 3
data_films = pd.read_csv('/content/sample_data/movies.csv')
data_films.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
years = range(1950,2011)
def production_year(data):
    for year in years:
        if str(year) in data['title']:
            return year
    return 1900
production_year(data_films)

1900

In [ ]:
data_films['year'] = data_films.apply(production_year, axis=1)

In [ ]:
data_films[data_films.year == 1955]

,movieId,title,genres,year
573,668,Song of the Little Road (Pather Panchali) (1955),Drama,1955
753,933,To Catch a Thief (1955),Crime|Mystery|Romance|Thriller,1955
769,949,East of Eden (1955),Drama,1955
794,982,Picnic (1955),Drama,1955
812,1008,"Davy Crockett, King of the Wild Frontier (1955)",Adventure|Western,1955
892,1103,Rebel Without a Cause (1955),Drama,1955
1508,1946,Marty (1955),Drama|Romance,1955
1640,2080,Lady and the Tramp (1955),Animation|Children|Comedy|Romance,1955
1736,2184,"Trouble with Harry, The (1955)",Comedy|Mystery,1955
2128,2656,Tarantula (1955),Horror|Sci-Fi,1955
2184,2727,Killer's Kiss (1955),Crime|Film-Noir,1955
2438,3035,Mister Roberts (1955),Comedy|Drama|War,1955
2640,3292,"Big Combo, The (1955)",Film-Noir,1955
2672,3340,Bride of the Monster (1955),Horror|Sci-Fi,1955
2722,3414,Love Is a Many-Splendored Thing (1955),Drama|Romance|War,1955
2835,3549,Guys and Dolls (1955),Comedy|Musical|Romance,1955
2932,3678,"Man with the Golden Arm, The (1955)",Drama,1955
3413,4298,Rififi (Du rififi chez les hommes) (1955),Crime|Film-Noir|Thriller,1955
3429,4324,"Kentuckian, The (1955)",Drama|Western,1955
3454,4359,"Seven Year Itch, The (1955)",Comedy,1955
3497,4426,Kiss Me Deadly (1955),Film-Noir,1955
3735,4767,Abbott and Costello Meet the Mummy (1955),Comedy|Horror,1955
4074,5333,Bob le Flambeur (1955),Crime|Drama,1955
4219,5602,"Ladykillers, The (1955)",Comedy|Crime,1955
4315,5795,"Big Knife, The (1955)",Film-Noir,1955
4525,6231,"Benny Goodman Story, The (1955)",Drama|Musical,1955
4640,6431,Battle Cry (1955),Drama|War,1955
4907,6981,"Ordet (Word, The) (1955)",Drama,1955
4934,7013,"Night of the Hunter, The (1955)",Drama|Film-Noir|Thriller,1955
5005,7116,Diabolique (Les diaboliques) (1955),Horror|Mystery|Thriller,1955
5189,7585,Summertime (1955),Drama|Romance,1955
5193,7614,Oklahoma! (1955),Musical|Romance|Western,1955
5232,7787,To Hell and Back (1955),Action|Drama|War,1955
5290,7941,Smiles of a Summer Night (Sommarnattens leende...,Comedy|Romance,1955
5329,8094,Bad Day at Black Rock (1955),Drama|Thriller|Western,1955
5345,8143,Lola Montès (1955),Drama,1955
5416,8447,This Island Earth (1955),Sci-Fi,1955
5417,8451,Blackboard Jungle (1955),Drama,1955
5604,8921,"Rose Tattoo, The (1955)",Drama|Romance,1955
5717,26003,Night and Fog (Nuit et brouillard) (1955),Crime|Documentary|War,1955
5718,26005,Samurai II: Duel at Ichijoji Temple (Zoku Miya...,Action|Adventure|Drama,1955
5719,26007,"Unknown Soldier, The (Tuntematon sotilas) (1955)",Drama|War,1955
6096,32469,We're No Angels (1955),Comedy|Crime|Drama,1955
6587,49688,"Dam Busters, The (1955)",Action|Drama|War,1955
6824,55895,"Desperate Hours, The (1955)",Drama|Film-Noir|Thriller,1955
7277,69945,"Fast and the Furious, The (1955)",Crime|Mystery,1955
7542,78111,Artists and Models (1955),Comedy|Musical,1955
8140,96792,Kismet (1955),Adventure|Comedy|Fantasy|Musical|Romance,1955
9004,142192,Female on the Beach (1955),Crime|Drama|Mystery|Romance|Thriller,1955

In [ ]:
all_films_info = data_films.merge(data, on='movieId', how='right')
all_films_info.groupby('year').rating.mean().reset_index().sort_values('rating', ascending=False)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]